.login{
    width: 100%;
    height: 100vh;
    background:url(../../assets/images/bg.jpg);
}
.loginform{
    width: 380px;
    padding: 20px 30px;
    position: absolute;
    right: 5%;
    top: 50%;
    margin-top: -160px;
    height: 320px;
    border-radius: 4px;
    background: #Fff;
    box-shadow: 0 0 4px #ccc;
    h4{
        font-size: 24px;
        color: #347ebc;
        line-height: 50px;
        text-align: center;
        margin-bottom: 20px;
    }
    .loginbtn{
        width: 100%;
        background: #347ebc;
        outline: none;
        border: none;
        height: 40px;
        line-height: 40px;
        color: #fff;
        cursor: pointer;
    }
    .loginitem{
        margin-bottom: 50px;
        border-bottom: 2px solid #347ebc;
        label{
            width: 60px;
            font-size: 16px;
            float: left;
            text-align: left;
            margin-top: -2px;
        }
        input{
            border: none;
            outline: none;
            height: 30px;
            line-height: 30px;
            margin-top: -8px;
            font-size: 18px;
            text-indent: 2em;
            width: 260px;
        }
        input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 1000px white inset !important;
          }
    }
}
.loginbar{
    width: 100%;
    height: 260px;
    // background: #347ebc;
    // opacity: 0.6;
    background: rgba(52,126,188,0.6);
    position: absolute;
    top: 50%;
    margin-top: -130px;
    color: #fff;
    font-size: 40px;
    line-height: 260px;
    margin-left: -150px;
}
    

