.ant-layout-header{
    background: #347ebc!important;
    text-align: left;
    padding: 0 10px!important;
}
.logo{
    width:50px;
    height:50px;
    border-radius:100%;
}
.companyName{
    font-size:18px;
    display:inline-block;
    text-indent:1em;
    color:#fff;
}
.menulist{
    display:inline-block!important;
    margin-left:50px!important;
}
.logout{
    display:inline-block;
    color:#eee;
    float:right;
    cursor:pointer;
    &:hover{
        color: #fff;
    }
}
.ant-layout-content{
    width: 100%;
    height: calc(100vh - 80px);
}