.timeline{
    text-align:left;
    height: 40px;
    padding-top: 20px;
}
.linebar{
    position: relative;
    border:1px solid rgb(119, 213, 250);
    box-shadow: 0 0 4px rgb(119, 213, 250);
    display:inline-block;
    width:500px;
    background:green;
    height:12px;
    .swapitem{
        position: absolute;
        left:-1px;
        width:16px;
        height:16px;
        top:-3px;
        background:#dfeffc ;
        border:1px solid #c5dbec;
    }
}
.showdiv{
    position: relative;
    // height: 20px;
    .showcurrent{
        display:inline-block;
        top:-20px;
        position: absolute;
    }
}
